.App {
  text-align: center;
  /* background-color: #ebebeb; */
}

* {
  background-color: rgba(23, 23, 89, 0.755);
  /* color: white; */
}
.container {
  background-color: rgba(23, 23, 89, 0.755);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  background-color: rgba(128, 128, 159, 0.755);
}
